/* alegreya-sans-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/alegreya-sans-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('./fonts/alegreya-sans-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/alegreya-sans-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/alegreya-sans-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('./fonts/alegreya-sans-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/alegreya-sans-v14-latin-regular.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}


nav {
    text-align: center;
    margin-bottom: 1em;
    padding-bottom: 0.2em;
    padding-top: 2em;
    background-color: #efefef;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

p,
li {
    font-size: 2rem;
}

ul {
    list-style: none;
}