.page-message {
    padding: .7rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}

.message-container {
    margin-bottom: 1rem;
}

.page-message > .icon {
    line-height: 1;
    display: inline-block;
}

.page-message > .message-icon {
    margin-right: 1rem;
}

.page-message > .clear-icon {
    position: absolute;
    right: .8rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
}

.page-message.error {
    background: #FCD5CE;
}

.page-message.warning {
    background: #FEC89A;
}

.page-message.success {
    background: #D8E2DC;
}